ConvoSaver.json
{
  "name": "ConvoSaver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "psych",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        0
      ],
      "id": "dc25984d-ffb1-4ef8-a2f5-5628c7c9d045",
      "name": "Webhook",
      "webhookId": "7bbcfa87-9293-4a13-9a16-4ec9b3b4f092"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is a conversation between a user and an assistant: {{ $json.conversation }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Look at the conversation which is in JSON format and extract the name. For example, if the sentence is \"Hi I'm Sarah\", you need to extract Sarah and set the name variable to that. Thoroughly and accurately summarize the conversation and put that in conversation. When doing so, ignore messages from the system, the conversation is between the user and the assistant. Also set the date, we don't need the specific time, use this as reference for the date {{ $now }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        624,
        0
      ],
      "id": "1fc6e9bd-43e3-439d-9211-0f5ea8936356",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        224
      ],
      "id": "02345b2e-55ae-4fbf-9613-2023ec1e42d5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kRkrDmTYdDRQGAi1",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"The name of the user\"\n    },\n    \"conversation\": {\n      \"type\": \"string\",\n      \"description\": \"The conversation between the user and the assistant\"\n    },\n    \"date\": {\n      \"type\": \"date\",\n      \"format\": \"date\",\n      \"description\": \"The date of the conversation (YYYY-MM-DD)\"\n    }\n  },\n  \"required\": [\"name\", \"conversation\", \"date\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        224
      ],
      "id": "25e8e375-8af3-4436-ac30-1c0ec16036d6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LSlsQ4kaXPEw0h0Qe3nZcHyVigqE5w5uvcKZaGit-a4",
          "mode": "list",
          "cachedResultName": "Conversations with Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LSlsQ4kaXPEw0h0Qe3nZcHyVigqE5w5uvcKZaGit-a4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LSlsQ4kaXPEw0h0Qe3nZcHyVigqE5w5uvcKZaGit-a4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.name }}",
            "Conversation Notes": "={{ $json.output.conversation }}",
            "Date": "={{ $json.output.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conversation Notes",
              "displayName": "Conversation Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "c347bd0c-f915-4d39-8f68-2d95c42d2e8e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gRJuPOrGFRjY48bf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c31a1f0-7a35-420b-bbc2-c330054b52c1",
              "name": "conversation",
              "value": "={{ $json.body.transcript }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        0
      ],
      "id": "fabf6d37-7db1-4c31-adb1-d4885dc174a4",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd1447d0-4cf4-4347-880a-8f31d3392275",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd1d76bb2990db01d7a028a2076cb41d3d5dcdc994e3ba485b1259b538d0425e"
  },
  "id": "vLa35k1aYPxzTxHo",
  "tags": []
}